.wp-block-q30-hero-block-q30-hero-style {
    
    display:block;
    background-color:#efefef;
    height:100%;

}

.wp-block-q30-hero-block-q30-hero-style .hero-image .image-button {

    margin:0;
    padding:0;
    display:block;
    width:100%;
    height:auto;
    border:0;
    border-radius:0;

}
.wp-block-q30-hero-block-q30-hero-style .hero-title-content p { display:inline-block; }